.sbui-btn-primary {
  background-color: rgba(37, 99, 235, 1) !important;
}
.sbui-btn-primary:hover {
  background-color: rgba(37, 99, 235, 0.9) !important;
}

.sbui-btn-primary:focus {
  background-color: rgba(37, 99, 235, 1) !important;
}

.sbui-typography-link {
  /* color: #2563eb !important; */
  display: none !important;
}

div.sbui-space-col.sbui-space-y-2 > a.sbui-typography-link:last-child {
  display: none !important;
}

.sbui-input-container > .sbui-input:focus {
  box-shadow: 0 0 0 2px rgb(37 99 235 / 10%) !important;
  border-color: rgba(96, 165, 250, 1) !important;
}
